* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h4 {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

header {
  min-height: 120vh;
  width: 100%;
  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/C8oKE5I5vcv_EGGqASiDRNiXjoLVPIOno4efBT7Xzwq2F_OikNThMp2LogqZiTDgPeHgguGFe2cIzpo=w1903-h929");
  background-repeat: no-repeat;
}

.container {
  color: #926239;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  align-items: center;
}

button {
  color: #926239;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  border-color: #926239;
  background: transparent;
}

header {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #926239;
  color: white;
}
.text-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.footer-text {
  display: flex;
  text-align: justify;
}
.first,
.one {
  background-color: #926239;
}

.first,
.second,
.one,
.two {
  padding: 20px;
}
